@import '../../styles/theme.less';

.menu {
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #DDDDDD;

  a {
    text-decoration: none;
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.3rem;
    color: #bbbbbb;
    text-transform: uppercase;
    transition: color 0.3s;

    &--active {
      color: @main-color;
    }
  }
}